In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
from math import sin, cos, sqrt, atan2, radians
import re
import warnings
warnings.filterwarnings('ignore')
print('Libraries imported!')

Libraries imported!

In [2]:
house_address_all = []
house_details_all = []
house_address = []
house_details = []
postal_code_array = []
latitude_array = []
longitude_array = []
year_built_array = []
payment_monthly = []
lot_size = []
basement = []
garage = []
mlsa = []
mls_array = []

base_url = 'https://www.remax.ca/ab/calgary-real-estate?page='
urls = [base_url + str(x) for x in range(1,2)]

for url in urls:
    
    #browser.visit(url)
    time.sleep(5)

    # Parse HTML with Beautiful Soup
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    #time.sleep(5)
    
    for each in soup.find_all(class_= "card-text ng-star-inserted" ):
        try: 
            mls = each.find(class_='mlsNumber').text.replace('MLS® #: ', '')
            mls_array.append(mls)
        except:
            mls_array.append(np.nan)

    try:
        addresses = soup.find_all('div', class_='left-content flex-one')
        for address in addresses:
            house_address_all.append(address.text)
    except:
        house_address_all.append('None')
        
    #time.sleep(5)
        
    try:
        details = soup.find_all('div', class_='property-details')
        for detail in details:
            house_details_all.append(detail.text)
    except:
        house_details_all.append('None')
        
    #time.sleep(5)
        
    house_details_more=[]
    url_house = []
        
    try:
        for detail in soup.find_all('a'):
            house_details_more.append(detail.get('href'))
    except:
        house_details_more.append('None')
    
    #time.sleep(5)

    for i in house_details_more:
        if '/ab/calgary-real-estate/' in str(i):
            link = 'https://www.remax.ca' + str(i)
            url_house.append(link)
            
    #time.sleep(5)
    
    for i in url_house:
    
        time.sleep(5)

        page = requests.get(i)
        soup = BeautifulSoup(page.text, "html.parser")

        lat_all = soup.find_all('script')[4]

        string = ', '.join(lat_all)
        pc = "postalCode"
        position_pc = string.find(pc)
        pcd = string[(position_pc+14):(position_pc+21)]
        postal_code_array.append(pcd)

        lat = "latitude"
        position_lat = string.find(lat)
        latd = string[(position_lat+11):(position_lat+20)]
        latitude_array.append(latd)

        long = "longitude"
        position_long = string.find(long)
        longd = string[(position_long+12):(position_long+23)]
        longitude_array.append(longd)

        house_address = []

        #time.sleep(5)

        try:
            addresses = soup.find_all('section', class_='property-details')
            for address in addresses:
                house_address.append(address.text)
        except:
            house_address.append('None')

        #time.sleep(5)

        string = ', '.join(house_address)
        s_year = "Year Built: "
        if s_year in string:
            #try:
            #    start = string.rindex(s_year) + len(s_year)
            #    end = string.rindex("sqft", start )
            #    year_built_array.append(string[start:end])
            #except:
            #    year_built_array.append(np.nan)
            
            position_year = string.find(s_year)
            year_built = string[(position_year+12):(position_year+16)]
            year_built_array.append(year_built)
        else:
            year_built_array.append(np.nan)
        
        s_lot = "Lot Size: "
        if s_lot in string:
            try:
                start = string.rindex(s_lot) + len(s_lot)
                end = string.rindex("Occupancy", start )
                lot_size.append(string[start:end])
            except:
                lot_size.append(np.nan)
                
            #position_lot = string.find(s_lot)
            #lot_size_temp = string[(position_lot+10):(position_lot+14)]
            #lot_size.append(lot_size_temp)
        else:
            lot_size.append(np.nan)
        
        basement_yn = "Basement"
        if basement_yn in string:
            basement.append(1)
        else:
            basement.append(0)
            
        garage_yn = "Garage"
        if garage_yn in string:
            garage.append(1)
        else:
            garage.append(0)
        
        try:
            payment = soup.find(class_="payment-amount").text
            payment_monthly.append(payment)
        except:
            payment_monthly.append(np.nan)
        
        #result = re.search('MLSÂ® #: (.*)Ownership', string)
        #result_app = result.group(1)
        #mlsa.append(result.group(1))
        
        mlsa_number = "MLSÂ® #: "
        try:
            start = string.rindex(mlsa_number) + len(mlsa_number)
            end = string.rindex("Ownership", start )
            mlsa.append(string[start:end])
        except:
            #mlsa_pos = string.find(mlsa_number)
            #mlsa_temp = string[(mlsa_pos+8):(mlsa_pos+16)]
            mlsa.append(np.nan)

        #time.sleep(5)

In [3]:
mls_array_df_temp = pd.DataFrame(mls_array)
mls_array_df_temp.head()

                   0
0  MLSÂ® #: A1046628
1  MLSÂ® #: A1046342
2  MLSÂ® #: A1046598
3  MLSÂ® #: A1046588
4  MLSÂ® #: A1045693

In [4]:
mls_array_df = mls_array_df_temp[0].str.split("MLSÂ® #: ", 1, expand=True)
mls_array_df[1].head()

0    A1046628
1    A1046342
2    A1046598
3    A1046588
4    A1045693
Name: 1, dtype: object

In [5]:
address_df = pd.DataFrame(house_address_all)

new_df = address_df[0].str.split(' ', 2, expand=True)
new_df["price"] = new_df[1].str.replace("$", "")
new_df["price"] = new_df["price"].str.replace(",", "")
new_df["price"] = pd.to_numeric(new_df["price"])

del new_df[0]
del new_df[1]
new_df.head()

                                                   2   price
0                703 94 AVE SE, Calgary, AB, T2J 0G2  484980
1           208 - 532 5 AVE NE, Calgary, AB, T2E 0L2  249900
2           22 EVERGREEN PK SW, Calgary, AB, T2Y 5H9  624900
3        527 CRANSTON Drive SE, Calgary, AB, T3M 0C2  320000
4  166 MARTIN CROSSING CLOSE NE, Calgary, AB, T3J...  417000

In [6]:
final_df_pc = new_df[2].str.split(', Calgary, AB, ', expand=True)
final_df_pc.head()

                              0        1
0                 703 94 AVE SE  T2J 0G2
1            208 - 532 5 AVE NE  T2E 0L2
2            22 EVERGREEN PK SW  T2Y 5H9
3         527 CRANSTON Drive SE  T3M 0C2
4  166 MARTIN CROSSING CLOSE NE  T3J 3S1

In [7]:
final_df_pc_clean = final_df_pc[1].str.replace(" ", "")
#final_df_pc_clean = final_df_pc[1]
final_df_pc_clean.head()

0    T2J0G2
1    T2E0L2
2    T2Y5H9
3    T3M0C2
4    T3J3S1
Name: 1, dtype: object

In [52]:
df_add = pd.concat([new_df, final_df_pc_clean, final_df_pc[0], mls_array_df[1]], axis=1)
del df_add[2]
df_add.columns = ["price", "postal_code", "address", "mls"]
df_add.head()

    price postal_code                       address       mls
0  484980      T2J0G2                 703 94 AVE SE  A1046628
1  249900      T2E0L2            208 - 532 5 AVE NE  A1046342
2  624900      T2Y5H9            22 EVERGREEN PK SW  A1046598
3  320000      T3M0C2         527 CRANSTON Drive SE  A1046588
4  417000      T3J3S1  166 MARTIN CROSSING CLOSE NE  A1045693

In [53]:
details = pd.DataFrame(house_details_all)
details_df_temp = details[0].str.split('|', expand=True)
details_df_temp.head()

       0           1          2          3
0  4 bed      2 bath  1025 sqft      house
1  2 bed      2 bath  1065 sqft      condo
2  5 bed  3 + 1 bath  2366 sqft      house
3  2 bed  1 + 1 bath  1214 sqft  townhouse
4  5 bed      2 bath  1065 sqft      house

In [54]:
details_df_bed = details_df_temp[0].str.replace(' bed', '')
details_df_bath = details_df_temp[1].str.replace(' bath', '')
details_df_area = details_df_temp[2].str.replace(' sqft', '')

In [55]:
details_df_bath_all = details_df_bath.str.split('+', expand=True)
details_df_bath_full = details_df_bath_all[0]
details_df_bath_half = details_df_bath_all[1]

In [56]:
details_df_bed = details_df_bed.replace('N/A', np.nan)
details_df_bed = pd.to_numeric(details_df_bed)
details_df_area = details_df_area.replace('N/A', np.nan)
details_df_area = pd.to_numeric(details_df_area)
details_df_bath_full = details_df_bath_full.replace('N/A', np.nan)
details_df_bath_full = pd.to_numeric(details_df_bath_full)
details_df_bath_half = details_df_bath_half.replace('N/A', np.nan)
details_df_bath_half = pd.to_numeric(details_df_bath_half)

In [57]:
data = {'bed':details_df_bed, 'full_bath':details_df_bath_full, 'half_bath':details_df_bath_half,
       'property_area':details_df_area, 'property_type':details_df_temp[3]}

In [58]:
details_df = pd.DataFrame(data)
details_df.head()

   bed  full_bath  half_bath  property_area property_type
0    4          2        NaN           1025         house
1    2          2        NaN           1065         condo
2    5          3        1.0           2366         house
3    2          1        1.0           1214     townhouse
4    5          2        NaN           1065         house

In [59]:
calgary_df_dup = pd.concat([df_add, details_df], axis=1)
calgary_df = calgary_df_dup.drop_duplicates()
calgary_df.head()

,price,postal_code,address,mls,bed,full_bath,half_bath,property_area,property_type
0,484980,T2J0G2,703 94 AVE SE,A1046628,4,2,NaN,1025,house
1,249900,T2E0L2,208 - 532 5 AVE NE,A1046342,2,2,NaN,1065,condo
2,624900,T2Y5H9,22 EVERGREEN PK SW,A1046598,5,3,1.0,2366,house
3,320000,T3M0C2,527 CRANSTON Drive SE,A1046588,2,1,1.0,1214,townhouse
4,417000,T3J3S1,166 MARTIN CROSSING CLOSE NE,A1045693,5,2,NaN,1065,house

In [60]:
calgary_df.to_csv('data/calgary_listings-a.csv', index=False)

## Cleanup Postal Codes, Latitude, Longitude and Year Built

In [17]:
postal_codes_messy = pd.DataFrame(postal_code_array, columns=["postal_code"])

In [18]:
postal_codes_messy.head()

  postal_code
0     ": "htt
1     T2E0L2"
2     T2Y5H9"
3     T3M 0C2
4     T3J3S1"

In [19]:
postal_code_array_clean = postal_codes_messy["postal_code"].str.replace('"', '')
postal_code_array_clean = postal_code_array_clean.str.replace(" ", "")

In [20]:
latitude_array_messy = pd.DataFrame(latitude_array, columns=["latitude"])

In [21]:
latitude_array_messy = latitude_array_messy["latitude"].str.replace(',', '')
latitude_array_messy.head()

0    ext": "ht
1    51.057519
2    50.919992
3    50.882353
4     51.11899
Name: latitude, dtype: object

In [22]:
longitude_array_messy = pd.DataFrame(longitude_array, columns=["longitude"])

In [23]:
longitude_array_messy = longitude_array_messy["longitude"].str.replace(',', '')
longitude_array_messy.head()

0     xt": "http:
1     -114.049956
2     -114.103404
3     -113.979791
4    -113.95943\n
Name: longitude, dtype: object

<div class="alert alert-danger">
    <b>Unused</b>
    
year_built_messy = pd.DataFrame(year_built_array, columns=["year_built"])<br>
year_built_clean = year_built_messy["year_built"].str.replace('', np.nan)<br>
year_built_num = year_built_messy.astype(int)

year_built_num.head()
</div>

In [24]:
year_built_messy = pd.DataFrame(year_built_array, columns=["year_built"])
#year_built_messy = pd.to_numeric(year_built_messy)
year_built_messy.head()

  year_built
0       1962
1       2005
2       2005
3       2007
4       1997

In [25]:
year_built_clean = year_built_messy["year_built"].replace('', np.nan)

In [27]:
year_built_clean.head(11)

0     1962
1     2005
2     2005
3     2007
4     1997
5     2012
6     1981
7     2009
8     1980
9     nasq
10    2000
Name: year_built, dtype: object

In [28]:
year_built_digits = []

for i in year_built_clean:
    if ((str(i) >= 'A' and str(i) <= 'Z') or (str(i) >= 'a' and str(i) <= 'z')):
        #year_built_clean.replace(i, np.nan)
        year_built_digits.append(np.nan)
    if ((str(i) == ' 9 2') or (str(i) == ' 8 2') or (str(i) == ' 2 2') or (str(i) == 'nasq') or (str(i) == ' 6 R') or (str(i) == ' 6 S')):
        year_built_digits.append(np.nan)
    else:
        year_built_digits.append(i)

In [29]:
year_built_digits[:11]

['1962',
 '2005',
 '2005',
 '2007',
 '1997',
 '2012',
 '1981',
 '2009',
 '1980',
 nan,
 nan]

In [30]:
year_built_num = pd.to_numeric(year_built_digits)
year_built_num[:10]

array([1962., 2005., 2005., 2007., 1997., 2012., 1981., 2009., 1980.,
         nan])

In [31]:
year_built_num_pd = pd.DataFrame(year_built_num)

In [32]:
years_old = 2020 - year_built_num
years_old[:10]

array([58., 15., 15., 13., 23.,  8., 39., 11., 40., nan])

In [33]:
years_old_df = pd.DataFrame(years_old)

In [34]:
latitude_digits = []

for i in latitude_array_messy:
    if ((str(i) >= 'A' and str(i) <= 'Z') or (str(i) >= 'a' and str(i) <= 'z')):
        latitude_digits.append(np.nan)
    else:
        latitude_digits.append(i)

In [35]:
longitude_digits = []

for i in longitude_array_messy:
    if ((str(i) >= 'A' and str(i) <= 'Z') or (str(i) >= 'a' and str(i) <= 'z')):
        longitude_digits.append(np.nan)
    else:
        longitude_digits.append(i)

In [36]:
latitude_digits = pd.to_numeric(latitude_digits)
longitude_digits = pd.to_numeric(longitude_digits)

In [37]:
payment_monthly_messy = pd.DataFrame(payment_monthly, columns=["monthly_payments"])
payment_monthly_messy.head()

  monthly_payments
0         $2097.11
1         $1080.60
2         $2702.14
3         $1383.72
4         $1803.16

In [38]:
payment_monthly_messy = payment_monthly_messy["monthly_payments"].str.replace('$', '')
payment_monthly_messy.head(10)

0    2097.11
1    1080.60
2    2702.14
3    1383.72
4    1803.16
5    1231.89
6    1448.58
7    3545.35
8    1015.74
9    1253.56
Name: monthly_payments, dtype: object

In [39]:
payment_monthly_messy = payment_monthly_messy.replace('', np.nan)

In [40]:
payment_monthly_clean = payment_monthly_messy.replace('None', np.nan)
payment_monthly_clean = pd.to_numeric(payment_monthly_clean)

<div class="alert alert-success">
    <b>Guide</b>
    
https://stackoverflow.com/questions/19412462/getting-distance-between-two-points-based-on-latitude-longitude

#### approximate radius of earth in km
R = 6373.0
    
lat1 = radians(52.2296756)<br>
lon1 = radians(21.0122287)

lat2 = radians(52.406374)<br>
lon2 = radians(16.9251681)

dlon = lon2 - lon1<br>
dlat = lat2 - lat1

a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2<br>
c = 2 * atan2(sqrt(a), sqrt(1 - a))

distance = R * c

print("Result:", distance)
    
#### Calgary Downtown coordinates (51.0449485,-114.0739559)
</div>

In [41]:
distance_downtown = []

for i, j in zip(latitude_digits, longitude_digits):
    lat1 = radians(i)
    lon1 = radians(j)
    lat2 = radians(51.0449485)
    lon2 = radians(-114.0739559)
    
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    R = 6373.0
    distance = (R * c)
    
    distance_downtown.append(distance)

In [42]:
distance_downtown[:5]

[nan,
 2.1842811929167136,
 14.051031993625326,
 19.250963711402655,
 11.483303001168315]

In [43]:
distance_downtown_df = pd.DataFrame(distance_downtown)

<div class="alert alert-warning">
    <b>Another example</b>
    
import geopy.distance

coords_1 = (52.2296756, 21.0122287)<br>
coords_2 = (52.406374, 16.9251681)

print(geopy.distance.vincenty(coords_1, coords_2).km)
</div>

In [44]:
more_details = pd.DataFrame([latitude_digits, longitude_digits, year_built_num]).T
#more_details.columns = ["postal_code", "latitude", "longitude", "year_built"]
more_details.head()

           0           1       2
0        NaN         NaN  1962.0
1  51.057519 -114.049956  2005.0
2  50.919992 -114.103404  2005.0
3  50.882353 -113.979791  2007.0
4  51.118990 -113.959430  1997.0

In [45]:
lot_size_df = pd.DataFrame(lot_size)

In [46]:
basement_df = pd.DataFrame(basement)

In [47]:
garage_df = pd.DataFrame(garage)

In [63]:
mls_df = pd.DataFrame(mlsa)

In [64]:
more_df = pd.concat([postal_code_array_clean, more_details, years_old_df, distance_downtown_df, payment_monthly_clean, lot_size_df, basement_df, garage_df, mls_df], axis=1)
more_df.columns = ["postal_code", "latitude", "longitude", "year_built", "years_old", "distance_downtown", "monthly_payments", "lot_size", "basement", "garage", "mls"]
more_df.head()

,postal_code,latitude,longitude,year_built,years_old,distance_downtown,monthly_payments,lot_size,basement,garage,mls
0,:htt,NaN,NaN,1962.0,58.0,NaN,2097.11,5188,1.0,1.0,A1046628
1,T2E0L2,51.057519,-114.049956,2005.0,15.0,2.184281,1080.60,NaN,0.0,1.0,A1046342
2,T2Y5H9,50.919992,-114.103404,2005.0,15.0,14.051032,2702.14,508.00,1.0,1.0,A1046598
3,T3M0C2,50.882353,-113.979791,2007.0,13.0,19.250964,1383.72,259.00,0.0,1.0,A1046588
4,T3J3S1,51.118990,-113.959430,1997.0,23.0,11.483303,1803.16,3261.00,1.0,0.0,A1045693

In [65]:
more_df.to_csv('data/calgary_listings-b.csv', index=False)

In [66]:
result_dup = pd.merge(calgary_df, more_df, on='mls')
result = result_dup.drop_duplicates()
result = result.reset_index(drop=True)
result.head(20)

,price,postal_code_x,address,mls,bed,full_bath,half_bath,property_area,property_type,postal_code_y,latitude,longitude,year_built,years_old,distance_downtown,monthly_payments,lot_size,basement,garage
0,484980,T2J0G2,703 94 AVE SE,A1046628,4,2,NaN,1025,house,:htt,NaN,NaN,1962.0,58.0,NaN,2097.11,5188,1.0,1.0
1,484980,T2J0G2,703 94 AVE SE,A1046628,4,2,NaN,1025,house,:htt,NaN,NaN,2013.0,7.0,NaN,2097.11,5188,1.0,1.0
2,484980,T2J0G2,703 94 AVE SE,A1046628,4,2,NaN,1025,house,:htt,NaN,NaN,1992.0,28.0,NaN,2097.11,5188,1.0,1.0
3,249900,T2E0L2,208 - 532 5 AVE NE,A1046342,2,2,NaN,1065,condo,T2E0L2,51.057519,-114.049956,2005.0,15.0,2.184281,1080.60,NaN,0.0,1.0
4,249900,T2E0L2,208 - 532 5 AVE NE,A1046342,2,2,NaN,1065,condo,T2E0L2,51.057519,-114.049956,1962.0,58.0,2.184281,1080.60,NaN,0.0,1.0
5,249900,T2E0L2,208 - 532 5 AVE NE,A1046342,2,2,NaN,1065,condo,T2E0L2,51.057519,-114.049956,1969.0,51.0,2.184281,1080.60,NaN,0.0,1.0
6,624900,T2Y5H9,22 EVERGREEN PK SW,A1046598,5,3,1.0,2366,house,T2Y5H9,50.919992,-114.103404,2005.0,15.0,14.051032,2702.14,508.00,1.0,1.0
7,624900,T2Y5H9,22 EVERGREEN PK SW,A1046598,5,3,1.0,2366,house,T2Y5H9,50.919992,-114.103404,1962.0,58.0,14.051032,2702.14,508.00,1.0,1.0
8,624900,T2Y5H9,22 EVERGREEN PK SW,A1046598,5,3,1.0,2366,house,T2Y5H9,50.919992,-114.103404,2013.0,7.0,14.051032,2702.14,508.00,1.0,1.0
9,320000,T3M0C2,527 CRANSTON Drive SE,A1046588,2,1,1.0,1214,townhouse,T3M0C2,50.882353,-113.979791,2007.0,13.0,19.250964,1383.72,259.00,0.0,1.0
10,320000,T3M0C2,527 CRANSTON Drive SE,A1046588,2,1,1.0,1214,townhouse,T3M0C2,50.882353,-113.979791,2005.0,15.0,19.250964,1383.72,259.00,0.0,1.0
11,320000,T3M0C2,527 CRANSTON Drive SE,A1046588,2,1,1.0,1214,townhouse,T3M0C2,50.882353,-113.979791,1962.0,58.0,19.250964,1383.72,259.00,0.0,1.0
12,417000,T3J3S1,166 MARTIN CROSSING CLOSE NE,A1045693,5,2,NaN,1065,house,T3J3S1,51.118990,-113.959430,1997.0,23.0,11.483303,1803.16,3261.00,1.0,0.0
13,417000,T3J3S1,166 MARTIN CROSSING CLOSE NE,A1045693,5,2,NaN,1065,house,T3J3S1,51.118990,-113.959430,2005.0,15.0,11.483303,1803.16,3261.00,1.0,0.0
14,417000,T3J3S1,166 MARTIN CROSSING CLOSE NE,A1045693,5,2,NaN,1065,house,T3J3S1,51.118990,-113.959430,1962.0,58.0,11.483303,1803.16,3261.00,1.0,0.0
15,284888,T3M0Y5,58 Auburn Bay Close SE,A1046583,3,2,1.0,1112,townhouse,T3M0Y5,50.883317,-113.955345,2012.0,8.0,19.805502,1231.89,0,1.0,1.0
16,284888,T3M0Y5,58 Auburn Bay Close SE,A1046583,3,2,1.0,1112,townhouse,T3M0Y5,50.883317,-113.955345,2007.0,13.0,19.805502,1231.89,0,1.0,1.0
17,284888,T3M0Y5,58 Auburn Bay Close SE,A1046583,3,2,1.0,1112,townhouse,T3M0Y5,50.883317,-113.955345,2005.0,15.0,19.805502,1231.89,0,1.0,1.0
18,335000,T3J1T8,361 FALSHIRE DR NE,A1046638,3,2,1.0,1104,house,T3J1T8,51.107726,-113.936264,1981.0,39.0,11.889076,1448.58,275.00,1.0,1.0
19,335000,T3J1T8,361 FALSHIRE DR NE,A1046638,3,2,1.0,1104,house,T3J1T8,51.107726,-113.936264,1997.0,23.0,11.889076,1448.58,275.00,1.0,1.0

In [48]:
result.to_csv('data/calgary_listings.csv', index=False)

-----------

<div class="alert alert-info">
    <b>UNSED</b>
</div>

In [ ]:
house_details_more=[]
url_house = []
try:
    for detail in soup.find_all('a'):
        house_details_more.append(detail.get('href'))
except:
    house_details_more.append('None')
    
for i in house_details_more:
    if '/ab/calgary-real-estate/' in str(i):
        link = 'https://www.remax.ca' + str(i)
        url_house.append(link)
url_house

In [ ]:
url_house[:5]

In [ ]:
PostalCode = []
Latitude = []
Longitude = []
YearBuilt = []

for i in url_house[:5]:
    
    time.sleep(5)
    
    page = requests.get(i)
    soup = BeautifulSoup(page.text, "html.parser")
    
    lat_all = soup.find_all('script')[4]
    
    string = ', '.join(lat_all)
    pc = "postalCode"
    position_pc = string.find(pc)
    pcd = string[(position_pc+14):(position_pc+21)]
    PostalCode.append(pcd)

    lat = "latitude"
    position_lat = string.find(lat)
    latd = string[(position_lat+11):(position_lat+20)]
    Latitude.append(latd)

    long = "longitude"
    position_long = string.find(long)
    longd = string[(position_long+12):(position_long+23)]
    Longitude.append(longd)
    
    house_address = []
    
    time.sleep(5)
    
    try:
        addresses = soup.find_all('section', class_='property-details')
        for address in addresses:
            house_address.append(address.text)
    except:
        house_address.append('None')
    
    time.sleep(5)
    
    string = ', '.join(house_address)
    s_year = "Year Built"
    position_year = string.find(s_year)
    year_built = string[(position_year+12):(position_year+16)]
    YearBuilt.append(year_built)