In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
from splinter import Browser
import warnings
warnings.filterwarnings('ignore')
print('Libraries imported!')

Libraries imported!

In [2]:
house_address_all = []
house_details_all = []
house_address = []
house_details = []
postal_code_array = []
latitude_array = []
longitude_array = []
year_built_array = []

base_url = 'https://www.remax.ca/ab/calgary-real-estate?page='
urls = [base_url + str(x) for x in range(1,2)]

for url in urls:
    
    #browser.visit(url)
    time.sleep(5)

    # Parse HTML with Beautiful Soup
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    time.sleep(5)

    try:
        addresses = soup.find_all('div', class_='left-content flex-one')
        for address in addresses:
            house_address_all.append(address.text)
    except:
        house_address_all.append('None')
        
    time.sleep(5)
        
    try:
        details = soup.find_all('div', class_='property-details')
        for detail in details:
            house_details_all.append(detail.text)
    except:
        house_details_all.append('None')
        
    time.sleep(5)
        
    house_details_more=[]
    url_house = []
        
    try:
        for detail in soup.find_all('a'):
            house_details_more.append(detail.get('href'))
    except:
        house_details_more.append('None')
    
    time.sleep(5)

    for i in house_details_more:
        if '/ab/calgary-real-estate/' in str(i):
            link = 'https://www.remax.ca' + str(i)
            url_house.append(link)
            
    time.sleep(5)
    
    for i in url_house:
    
        time.sleep(5)

        page = requests.get(i)
        soup = BeautifulSoup(page.text, "html.parser")

        lat_all = soup.find_all('script')[4]

        string = ', '.join(lat_all)
        pc = "postalCode"
        position_pc = string.find(pc)
        pcd = string[(position_pc+14):(position_pc+21)]
        postal_code_array.append(pcd)

        lat = "latitude"
        position_lat = string.find(lat)
        latd = string[(position_lat+11):(position_lat+20)]
        latitude_array.append(latd)

        long = "longitude"
        position_long = string.find(long)
        longd = string[(position_long+12):(position_long+23)]
        longitude_array.append(longd)

        house_address = []

        time.sleep(5)

        try:
            addresses = soup.find_all('section', class_='property-details')
            for address in addresses:
                house_address.append(address.text)
        except:
            house_address.append('None')

        time.sleep(5)

        string = ', '.join(house_address)
        s_year = "Year Built"
        position_year = string.find(s_year)
        year_built = string[(position_year+12):(position_year+16)]
        year_built_array.append(year_built)

        time.sleep(5)

In [12]:
#postal_code_array
#latitude_array
#longitude_array
#year_built_array

['T1Y2Z3"',
 'T3A0M1"',
 'T3G4E4"',
 'T3M0S3"',
 'T2Z 0Y9',
 'T3C2A2"',
 'T3H4K5"',
 'T2A5K9"',
 'T2N1Z4"',
 'T2Z 3V4']

In [3]:
address_df = pd.DataFrame(house_address_all)

new_df = address_df[0].str.split(' ', 2, expand=True)
new_df["price"] = new_df[1].str.replace("$", "")
new_df["price"] = new_df["price"].str.replace(",", "")

del new_df[0]
del new_df[1]
new_df.head()

                                                  2   price
0               4312 49 ST NE, Calgary, AB, T1Y 2Z3  329900
1      3916 VANCOUVER CRES NW, Calgary, AB, T3A 0M1  464900
2  102 - 99 ARBOUR LAKE RD NW, Calgary, AB, T3G 4E4  119800
3          63 CRANARCH CIR SE, Calgary, AB, T3M 0S3  614900
4      32 COPPERPOND Close SE, Calgary, AB, T2Z 0Y9  329900

In [4]:
final_df = new_df[2].str.split(', Calgary, AB, ', expand=True)
final_df.head()

                            0        1
0               4312 49 ST NE  T1Y 2Z3
1      3916 VANCOUVER CRES NW  T3A 0M1
2  102 - 99 ARBOUR LAKE RD NW  T3G 4E4
3          63 CRANARCH CIR SE  T3M 0S3
4      32 COPPERPOND Close SE  T2Z 0Y9

In [5]:
df_add = pd.concat([new_df, final_df], axis=1)
del df_add[2]
df_add.columns = ["price", "address", "postal_code"]
df_add.head()

    price                     address postal_code
0  329900               4312 49 ST NE     T1Y 2Z3
1  464900      3916 VANCOUVER CRES NW     T3A 0M1
2  119800  102 - 99 ARBOUR LAKE RD NW     T3G 4E4
3  614900          63 CRANARCH CIR SE     T3M 0S3
4  329900      32 COPPERPOND Close SE     T2Z 0Y9

In [6]:
details = pd.DataFrame(house_details_all)

details_df = details[0].str.split('|', expand=True)
details_df

del details_df[2]

details_df.columns = ["bedrooms", "bath", "property_type"]
details_df.head()

  bedrooms        bath property_type
0    4 bed  1 + 1 bath         house
1    4 bed      2 bath         house
2    3 bed  1 + 1 bath          None
3    4 bed  3 + 1 bath         house
4    3 bed  2 + 1 bath     townhouse

In [ ]:
calgary_df = pd.concat([df_add, details_df], axis=1)
calgary_df.head()

In [9]:
more_details = pd.DataFrame([postal_code_array, latitude_array, longitude_array, year_built_array]).T
more_details

          0          1             2     3
0   T1Y2Z3"  51.090065   -113.962366  1977
1   T3A0M1"  51.091708   -114.143333  1964
2   T3G4E4"  51.128258   -114.213815  1974
3   T3M0S3"  50.87858,   -113.978461  2011
4   T2Z 0Y9  50.919925   -113.930907  2010
5   T3C2A2"  51.041204   -114.149494  1955
6   T3H4K5"  51.017892   -114.193209  1999
7   T2A5K9"  51.054133   -113.942185  1976
8   T2N1Z4"  51.051602   -114.094437  1999
9   T2Z 3V4  50.917857   -113.963116  1999
10  T2N2Z6"  51.061022   -114.138279
11  T2H0T9"  50.991022   -114.058345  1959
12  T2C3M3"  50.978952   -114.017892  1982
13  T2Y0B5"  50.907921   -114.115897  2006
14  T3B1Y2"  51.094255   -114.198931  1953
15  T3J0N8"  51.127601   -113.933584  2013
16  T3B6B4"  51.093025   -114.272066  2012
17  T1Y6Y3"  51.088699   -113.931483  1993
18  T3R 0Z7  51.182624   -114.170242  2015
19  T2K3T3"  51.109478  -114.06632\n  1963
20  T1Y2Z3"  51.090065   -113.962366  1977
21  T3A0M1"  51.091708   -114.143333  1964
22  T3G4E4"  51.128258   -114.213815  1974
23  T3M0S3"  50.87858,   -113.978461  2011
24  T2Z 0Y9  50.919925   -113.930907  2010
25  T3C2A2"  51.041204   -114.149494  1955
26  T3H4K5"  51.017892   -114.193209  1999
27  T2A5K9"  51.054133   -113.942185  1976
28  T2N1Z4"  51.051602   -114.094437  1999
29  T2Z 3V4  50.917857   -113.963116  1999
30  T2N2Z6"  51.061022   -114.138279
31  T2H0T9"  50.991022   -114.058345  1959
32  T2C3M3"  50.978952   -114.017892  1982
33  T2Y0B5"  50.907921   -114.115897  2006
34  T3B1Y2"  51.094255   -114.198931  1953
35  T3J0N8"  51.127601   -113.933584  2013
36  T3B6B4"  51.093025   -114.272066  2012
37  T1Y6Y3"  51.088699   -113.931483  1993
38  T3R 0Z7  51.182624   -114.170242  2015
39  T2K3T3"  51.109478  -114.06632\n  1963
40  T1Y2Z3"  51.090065   -113.962366  1977
41  T3A0M1"  51.091708   -114.143333  1964
42  T3G4E4"  51.128258   -114.213815  1974
43  T3M0S3"  50.87858,   -113.978461  2011
44  T2Z 0Y9  50.919925   -113.930907  2010
45  T3C2A2"  51.041204   -114.149494  1955
46  T3H4K5"  51.017892   -114.193209  1999
47  T2A5K9"  51.054133   -113.942185  1976
48  T2N1Z4"  51.051602   -114.094437  1999
49  T2Z 3V4  50.917857   -113.963116  1999
50  T2N2Z6"  51.061022   -114.138279
51  T2H0T9"  50.991022   -114.058345  1959
52  T2C3M3"  50.978952   -114.017892  1982
53  T2Y0B5"  50.907921   -114.115897  2006
54  T3B1Y2"  51.094255   -114.198931  1953
55  T3J0N8"  51.127601   -113.933584  2013
56  T3B6B4"  51.093025   -114.272066  2012
57  T1Y6Y3"  51.088699   -113.931483  1993
58  T3R 0Z7  51.182624   -114.170242  2015
59  T2K3T3"  51.109478  -114.06632\n  1963

-----------

<div class="alert alert-info">
    <b>UNSED</b>
</div>

In [6]:
house_details_more=[]
url_house = []
try:
    for detail in soup.find_all('a'):
        house_details_more.append(detail.get('href'))
except:
    house_details_more.append('None')
    
for i in house_details_more:
    if '/ab/calgary-real-estate/' in str(i):
        link = 'https://www.remax.ca' + str(i)
        url_house.append(link)
url_house

['https://www.remax.ca/ab/calgary-real-estate/4312-49-st-ne-wp_id282699451-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3916-vancouver-crescent-nw-wp_id282833251-lst',
 'https://www.remax.ca/ab/calgary-real-estate/102-99-arbour-lake-road-nw-wp_id282825809-lst',
 'https://www.remax.ca/ab/calgary-real-estate/63-cranarch-circle-se-wp_id282826543-lst',
 'https://www.remax.ca/ab/calgary-real-estate/32-copperpond-close-se-wp_id282827182-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1408-43-street-sw-wp_id282826546-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1314-7451-springbank-boulevard-sw-wp_id282825813-lst',
 'https://www.remax.ca/ab/calgary-real-estate/54-6103-madigan-drive-ne-wp_id282827181-lst',
 'https://www.remax.ca/ab/calgary-real-estate/303-4-14-street-nw-wp_id282825548-lst',
 'https://www.remax.ca/ab/calgary-real-estate/97-prestwick-gardens-se-wp_id282825546-lst',
 'https://www.remax.ca/luxury/ab/calgary-real-estate/707-35-street-nw-wp_id282831352-lst',
 'https://www.remax.ca/ab/calgary-real-estate/116-franklin-drive-se-wp_id282831367-lst',
 'https://www.remax.ca/ab/calgary-real-estate/15-riverbirch-place-se-wp_id282827195-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1225-2395-eversyde-avenue-sw-wp_id282826775-lst',
 'https://www.remax.ca/ab/calgary-real-estate/7744-46-avenue-nw-wp_id282827183-lst',
 'https://www.remax.ca/ab/calgary-real-estate/137-saddlelake-grove-ne-wp_id282826344-lst',
 'https://www.remax.ca/ab/calgary-real-estate/247-valley-pointe-way-nw-wp_id282831355-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3810-catalina-boulevard-ne-wp_id282826335-lst',
 'https://www.remax.ca/ab/calgary-real-estate/956-nolan-hill-boulevard-nw-wp_id282825808-lst',
 'https://www.remax.ca/ab/calgary-real-estate/6408-tregillus-street-nw-wp_id282835659-lst',
 'https://www.remax.ca/ab/calgary-real-estate/4312-49-st-ne-wp_id282699451-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3916-vancouver-crescent-nw-wp_id282833251-lst',
 'https://www.remax.ca/ab/calgary-real-estate/102-99-arbour-lake-road-nw-wp_id282825809-lst',
 'https://www.remax.ca/ab/calgary-real-estate/63-cranarch-circle-se-wp_id282826543-lst',
 'https://www.remax.ca/ab/calgary-real-estate/32-copperpond-close-se-wp_id282827182-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1408-43-street-sw-wp_id282826546-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1314-7451-springbank-boulevard-sw-wp_id282825813-lst',
 'https://www.remax.ca/ab/calgary-real-estate/54-6103-madigan-drive-ne-wp_id282827181-lst',
 'https://www.remax.ca/ab/calgary-real-estate/303-4-14-street-nw-wp_id282825548-lst',
 'https://www.remax.ca/ab/calgary-real-estate/97-prestwick-gardens-se-wp_id282825546-lst',
 'https://www.remax.ca/luxury/ab/calgary-real-estate/707-35-street-nw-wp_id282831352-lst',
 'https://www.remax.ca/ab/calgary-real-estate/116-franklin-drive-se-wp_id282831367-lst',
 'https://www.remax.ca/ab/calgary-real-estate/15-riverbirch-place-se-wp_id282827195-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1225-2395-eversyde-avenue-sw-wp_id282826775-lst',
 'https://www.remax.ca/ab/calgary-real-estate/7744-46-avenue-nw-wp_id282827183-lst',
 'https://www.remax.ca/ab/calgary-real-estate/137-saddlelake-grove-ne-wp_id282826344-lst',
 'https://www.remax.ca/ab/calgary-real-estate/247-valley-pointe-way-nw-wp_id282831355-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3810-catalina-boulevard-ne-wp_id282826335-lst',
 'https://www.remax.ca/ab/calgary-real-estate/956-nolan-hill-boulevard-nw-wp_id282825808-lst',
 'https://www.remax.ca/ab/calgary-real-estate/6408-tregillus-street-nw-wp_id282835659-lst',
 'https://www.remax.ca/ab/calgary-real-estate/4312-49-st-ne-wp_id282699451-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3916-vancouver-crescent-nw-wp_id282833251-lst',
 'https://www.remax.ca/ab/calgary-real-estate/102-99-arbour-lake-road-nw-wp_id282825809-lst',
 'https://www.remax.ca/ab/calgary-real-estate/63-cranarch-circle-se-wp_id282826543-lst',
 'https://www.remax.ca/ab/calgary-real-estate/32-copperpond-close-se-wp_id282827182-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1408-43-street-sw-wp_id282826546-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1314-7451-springbank-boulevard-sw-wp_id282825813-lst',
 'https://www.remax.ca/ab/calgary-real-estate/54-6103-madigan-drive-ne-wp_id282827181-lst',
 'https://www.remax.ca/ab/calgary-real-estate/303-4-14-street-nw-wp_id282825548-lst',
 'https://www.remax.ca/ab/calgary-real-estate/97-prestwick-gardens-se-wp_id282825546-lst',
 'https://www.remax.ca/luxury/ab/calgary-real-estate/707-35-street-nw-wp_id282831352-lst',
 'https://www.remax.ca/ab/calgary-real-estate/116-franklin-drive-se-wp_id282831367-lst',
 'https://www.remax.ca/ab/calgary-real-estate/15-riverbirch-place-se-wp_id282827195-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1225-2395-eversyde-avenue-sw-wp_id282826775-lst',
 'https://www.remax.ca/ab/calgary-real-estate/7744-46-avenue-nw-wp_id282827183-lst',
 'https://www.remax.ca/ab/calgary-real-estate/137-saddlelake-grove-ne-wp_id282826344-lst',
 'https://www.remax.ca/ab/calgary-real-estate/247-valley-pointe-way-nw-wp_id282831355-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3810-catalina-boulevard-ne-wp_id282826335-lst',
 'https://www.remax.ca/ab/calgary-real-estate/956-nolan-hill-boulevard-nw-wp_id282825808-lst',
 'https://www.remax.ca/ab/calgary-real-estate/6408-tregillus-street-nw-wp_id282835659-lst']

In [16]:
url_house[:5]

['https://www.remax.ca/ab/calgary-real-estate/4312-49-st-ne-wp_id282699451-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3916-vancouver-crescent-nw-wp_id282833251-lst',
 'https://www.remax.ca/ab/calgary-real-estate/102-99-arbour-lake-road-nw-wp_id282825809-lst',
 'https://www.remax.ca/ab/calgary-real-estate/63-cranarch-circle-se-wp_id282826543-lst',
 'https://www.remax.ca/ab/calgary-real-estate/32-copperpond-close-se-wp_id282827182-lst']

In [26]:
PostalCode = []
Latitude = []
Longitude = []
YearBuilt = []

for i in url_house[:5]:
    
    time.sleep(5)
    
    page = requests.get(i)
    soup = BeautifulSoup(page.text, "html.parser")
    
    lat_all = soup.find_all('script')[4]
    
    string = ', '.join(lat_all)
    pc = "postalCode"
    position_pc = string.find(pc)
    pcd = string[(position_pc+14):(position_pc+21)]
    PostalCode.append(pcd)

    lat = "latitude"
    position_lat = string.find(lat)
    latd = string[(position_lat+11):(position_lat+20)]
    Latitude.append(latd)

    long = "longitude"
    position_long = string.find(long)
    longd = string[(position_long+12):(position_long+23)]
    Longitude.append(longd)
    
    house_address = []
    
    time.sleep(5)
    
    try:
        addresses = soup.find_all('section', class_='property-details')
        for address in addresses:
            house_address.append(address.text)
    except:
        house_address.append('None')
    
    time.sleep(5)
    
    string = ', '.join(house_address)
    s_year = "Year Built"
    position_year = string.find(s_year)
    year_built = string[(position_year+12):(position_year+16)]
    YearBuilt.append(year_built)