In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
import warnings
warnings.filterwarnings('ignore')
print('Libraries imported!')

Libraries imported!

In [2]:
house_address_all = []
house_details_all = []
house_address = []
house_details = []
postal_code_array = []
latitude_array = []
longitude_array = []
year_built_array = []

base_url = 'https://www.remax.ca/ab/calgary-real-estate?page='
urls = [base_url + str(x) for x in range(1,2)]

for url in urls:
    
    #browser.visit(url)
    time.sleep(5)

    # Parse HTML with Beautiful Soup
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    
    time.sleep(5)

    try:
        addresses = soup.find_all('div', class_='left-content flex-one')
        for address in addresses:
            house_address_all.append(address.text)
    except:
        house_address_all.append('None')
        
    time.sleep(5)
        
    try:
        details = soup.find_all('div', class_='property-details')
        for detail in details:
            house_details_all.append(detail.text)
    except:
        house_details_all.append('None')
        
    time.sleep(5)
        
    house_details_more=[]
    url_house = []
        
    try:
        for detail in soup.find_all('a'):
            house_details_more.append(detail.get('href'))
    except:
        house_details_more.append('None')
    
    time.sleep(5)

    for i in house_details_more:
        if '/ab/calgary-real-estate/' in str(i):
            link = 'https://www.remax.ca' + str(i)
            url_house.append(link)
            
    time.sleep(5)
    
    for i in url_house:
    
        time.sleep(5)

        page = requests.get(i)
        soup = BeautifulSoup(page.text, "html.parser")

        lat_all = soup.find_all('script')[4]

        string = ', '.join(lat_all)
        pc = "postalCode"
        position_pc = string.find(pc)
        pcd = string[(position_pc+14):(position_pc+21)]
        postal_code_array.append(pcd)

        lat = "latitude"
        position_lat = string.find(lat)
        latd = string[(position_lat+11):(position_lat+20)]
        latitude_array.append(latd)

        long = "longitude"
        position_long = string.find(long)
        longd = string[(position_long+12):(position_long+23)]
        longitude_array.append(longd)

        house_address = []

        time.sleep(5)

        try:
            addresses = soup.find_all('section', class_='property-details')
            for address in addresses:
                house_address.append(address.text)
        except:
            house_address.append('None')

        time.sleep(5)

        string = ', '.join(house_address)
        s_year = "Year Built"
        position_year = string.find(s_year)
        year_built = string[(position_year+12):(position_year+16)]
        year_built_array.append(year_built)

        time.sleep(5)

In [51]:
#postal_code_array[:5]
#latitude_array[:5]
#longitude_array[:5]
#year_built_array[:5]

In [3]:
address_df = pd.DataFrame(house_address_all)

new_df = address_df[0].str.split(' ', 2, expand=True)
new_df["price"] = new_df[1].str.replace("$", "")
new_df["price"] = new_df["price"].str.replace(",", "")
new_df["price"] = pd.to_numeric(new_df["price"])

del new_df[0]
del new_df[1]
new_df.head()

                                               2    price
0            4312 49 ST NE, Calgary, AB, T1Y 2Z3   329900
1   3916 VANCOUVER CRES NW, Calgary, AB, T3A 0M1   464900
2  97 Prestwick Gardens SE, Calgary, AB, T2Z 3V4   285000
3             707 35 ST NW, Calgary, AB, T2N 2Z6  1196000
4       63 CRANARCH CIR SE, Calgary, AB, T3M 0S3   614900

In [4]:
final_df_pc = new_df[2].str.split(', Calgary, AB, ', expand=True)
final_df_pc.head()

                         0        1
0            4312 49 ST NE  T1Y 2Z3
1   3916 VANCOUVER CRES NW  T3A 0M1
2  97 Prestwick Gardens SE  T2Z 3V4
3             707 35 ST NW  T2N 2Z6
4       63 CRANARCH CIR SE  T3M 0S3

In [5]:
final_df_pc_clean = final_df_pc[1].str.replace(" ", "")
final_df_pc_clean.head()

0    T1Y2Z3
1    T3A0M1
2    T2Z3V4
3    T2N2Z6
4    T3M0S3
Name: 1, dtype: object

In [7]:
df_add = pd.concat([new_df, final_df_pc_clean, final_df_pc[0]], axis=1)
del df_add[2]
df_add.columns = ["price", "postal_code", "address"]
df_add.head()

     price postal_code                  address
0   329900      T1Y2Z3            4312 49 ST NE
1   464900      T3A0M1   3916 VANCOUVER CRES NW
2   285000      T2Z3V4  97 Prestwick Gardens SE
3  1196000      T2N2Z6             707 35 ST NW
4   614900      T3M0S3       63 CRANARCH CIR SE

In [8]:
details = pd.DataFrame(house_details_all)
details_df_temp = details[0].str.split('|', expand=True)
details_df_temp.head()

       0           1          2          3
0  4 bed  1 + 1 bath  2300 sqft      house
1  4 bed      2 bath  1043 sqft      house
2  2 bed      2 bath  1120 sqft  townhouse
3  4 bed  2 + 1 bath  2155 sqft      house
4  4 bed  3 + 1 bath  2210 sqft      house

In [9]:
details_df_bed = details_df_temp[0].str.replace(' bed', '')
details_df_bath = details_df_temp[1].str.replace(' bath', '')
details_df_area = details_df_temp[2].str.replace(' sqft', '')

In [10]:
details_df_bath_all = details_df_bath.str.split('+', expand=True)
details_df_bath_full = details_df_bath_all[0]
details_df_bath_half = details_df_bath_all[1]

In [11]:
details_df_bed = details_df_bed.replace('N/A', np.nan)
details_df_bed = pd.to_numeric(details_df_bed)
details_df_area = details_df_area.replace('N/A', np.nan)
details_df_area = pd.to_numeric(details_df_area)
details_df_bath_full = details_df_bath_full.replace('N/A', np.nan)
details_df_bath_full = pd.to_numeric(details_df_bath_full)
details_df_bath_half = details_df_bath_half.replace('N/A', np.nan)
details_df_bath_half = pd.to_numeric(details_df_bath_half)

In [12]:
data = {'bed':details_df_bed, 'full_bath':details_df_bath_full, 'half_bath':details_df_bath_half,
       'property_area':details_df_area, 'property_type':details_df_temp[3]}

In [13]:
details_df = pd.DataFrame(data)
details_df.head()

   bed  full_bath  half_bath  property_area property_type
0    4          1        1.0           2300         house
1    4          2        NaN           1043         house
2    2          2        NaN           1120     townhouse
3    4          2        1.0           2155         house
4    4          3        1.0           2210         house

In [14]:
calgary_df_dup = pd.concat([df_add, details_df], axis=1)
calgary_df = calgary_df_dup.drop_duplicates()
calgary_df.head()

,price,postal_code,address,bed,full_bath,half_bath,property_area,property_type
0,329900,T1Y2Z3,4312 49 ST NE,4,1,1.0,2300,house
1,464900,T3A0M1,3916 VANCOUVER CRES NW,4,2,NaN,1043,house
2,285000,T2Z3V4,97 Prestwick Gardens SE,2,2,NaN,1120,townhouse
3,1196000,T2N2Z6,707 35 ST NW,4,2,1.0,2155,house
4,614900,T3M0S3,63 CRANARCH CIR SE,4,3,1.0,2210,house

## Cleanup Postal Codes, Latitude, Longitude and Year Built

In [15]:
postal_codes_messy = pd.DataFrame(postal_code_array, columns=["postal_code"])

In [16]:
postal_codes_messy.head()

  postal_code
0     T1Y2Z3"
1     T3A0M1"
2     T2Z 3V4
3     T2N2Z6"
4     T3M0S3"

In [17]:
postal_code_array_clean = postal_codes_messy["postal_code"].str.replace('"', '')
postal_code_array_clean = postal_code_array_clean.str.replace(" ", "")

In [18]:
latitude_array_messy = pd.DataFrame(latitude_array, columns=["latitude"])

In [19]:
latitude_array_messy = latitude_array_messy["latitude"].str.replace(',', '')
latitude_array_messy.head()

0    51.090065
1    51.091708
2    50.917976
3    51.061022
4    50.878539
Name: latitude, dtype: object

In [20]:
longitude_array_messy = pd.DataFrame(longitude_array, columns=["longitude"])

In [21]:
longitude_array_messy = longitude_array_messy["longitude"].str.replace(',', '')
longitude_array_messy.head()

0     -113.962366
1     -114.143333
2    -113.96258\n
3     -114.138279
4     -113.978402
Name: longitude, dtype: object

In [34]:
year_built_messy = pd.DataFrame(year_built_array, columns=["year_built"])
year_built_clean = year_built_messy["year_built"].str.replace('', np.nan)

TypeError: repl must be a string or callable

In [30]:
year_built_num = year_built_messy.astype(int)
year_built_num.head()

ValueError: invalid literal for int() with base 10: ''

In [22]:
latitude_array_messy = pd.to_numeric(latitude_array_messy)
longitude_array_messy = pd.to_numeric(longitude_array_messy)

In [23]:
more_details = pd.DataFrame([latitude_array_messy, longitude_array_messy, year_built_num]).T
#more_details.columns = ["postal_code", "latitude", "longitude", "year_built"]
more_details.head()

NameError: name 'year_built_num' is not defined

In [117]:
more_df = pd.concat([postal_code_array_clean, more_details], axis=1)
more_df.columns = ["postal_code", "latitude", "longitude", "year_built"]
more_df.head()

  postal_code   latitude   longitude  year_built
0      T1Y2Z3  51.090065 -113.962366      1977.0
1      T3A0M1  51.091708 -114.143333      1964.0
2      T3G4E4  51.128258 -114.213815      1974.0
3      T3M0S3  50.878580 -113.978461      2011.0
4      T2Z0Y9  50.919925 -113.930907      2010.0

In [118]:
result_dup = pd.merge(calgary_df, more_df, on='postal_code')
result = result_dup.drop_duplicates()
result.head()

,price,postal_code,address,bed,full_bath,half_bath,property_area,property_type,latitude,longitude,year_built
0,329900,T1Y2Z3,4312 49 ST NE,4,1,1.0,122,house,51.090065,-113.962366,1977.0
3,464900,T3A0M1,3916 VANCOUVER CRES NW,4,2,NaN,1043,house,51.091708,-114.143333,1964.0
6,119800,T3G4E4,102 - 99 ARBOUR LAKE RD NW,3,1,1.0,1316,None,51.128258,-114.213815,1974.0
9,614900,T3M0S3,63 CRANARCH CIR SE,4,3,1.0,2210,house,50.878580,-113.978461,2011.0
12,329900,T2Z0Y9,32 COPPERPOND Close SE,3,2,1.0,1323,townhouse,50.919925,-113.930907,2010.0

-----------

<div class="alert alert-info">
    <b>UNSED</b>
</div>

In [6]:
house_details_more=[]
url_house = []
try:
    for detail in soup.find_all('a'):
        house_details_more.append(detail.get('href'))
except:
    house_details_more.append('None')
    
for i in house_details_more:
    if '/ab/calgary-real-estate/' in str(i):
        link = 'https://www.remax.ca' + str(i)
        url_house.append(link)
url_house

['https://www.remax.ca/ab/calgary-real-estate/4312-49-st-ne-wp_id282699451-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3916-vancouver-crescent-nw-wp_id282833251-lst',
 'https://www.remax.ca/ab/calgary-real-estate/102-99-arbour-lake-road-nw-wp_id282825809-lst',
 'https://www.remax.ca/ab/calgary-real-estate/63-cranarch-circle-se-wp_id282826543-lst',
 'https://www.remax.ca/ab/calgary-real-estate/32-copperpond-close-se-wp_id282827182-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1408-43-street-sw-wp_id282826546-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1314-7451-springbank-boulevard-sw-wp_id282825813-lst',
 'https://www.remax.ca/ab/calgary-real-estate/54-6103-madigan-drive-ne-wp_id282827181-lst',
 'https://www.remax.ca/ab/calgary-real-estate/303-4-14-street-nw-wp_id282825548-lst',
 'https://www.remax.ca/ab/calgary-real-estate/97-prestwick-gardens-se-wp_id282825546-lst',
 'https://www.remax.ca/luxury/ab/calgary-real-estate/707-35-street-nw-wp_id282831352-lst',
 'https://www.remax.ca/ab/calgary-real-estate/116-franklin-drive-se-wp_id282831367-lst',
 'https://www.remax.ca/ab/calgary-real-estate/15-riverbirch-place-se-wp_id282827195-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1225-2395-eversyde-avenue-sw-wp_id282826775-lst',
 'https://www.remax.ca/ab/calgary-real-estate/7744-46-avenue-nw-wp_id282827183-lst',
 'https://www.remax.ca/ab/calgary-real-estate/137-saddlelake-grove-ne-wp_id282826344-lst',
 'https://www.remax.ca/ab/calgary-real-estate/247-valley-pointe-way-nw-wp_id282831355-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3810-catalina-boulevard-ne-wp_id282826335-lst',
 'https://www.remax.ca/ab/calgary-real-estate/956-nolan-hill-boulevard-nw-wp_id282825808-lst',
 'https://www.remax.ca/ab/calgary-real-estate/6408-tregillus-street-nw-wp_id282835659-lst',
 'https://www.remax.ca/ab/calgary-real-estate/4312-49-st-ne-wp_id282699451-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3916-vancouver-crescent-nw-wp_id282833251-lst',
 'https://www.remax.ca/ab/calgary-real-estate/102-99-arbour-lake-road-nw-wp_id282825809-lst',
 'https://www.remax.ca/ab/calgary-real-estate/63-cranarch-circle-se-wp_id282826543-lst',
 'https://www.remax.ca/ab/calgary-real-estate/32-copperpond-close-se-wp_id282827182-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1408-43-street-sw-wp_id282826546-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1314-7451-springbank-boulevard-sw-wp_id282825813-lst',
 'https://www.remax.ca/ab/calgary-real-estate/54-6103-madigan-drive-ne-wp_id282827181-lst',
 'https://www.remax.ca/ab/calgary-real-estate/303-4-14-street-nw-wp_id282825548-lst',
 'https://www.remax.ca/ab/calgary-real-estate/97-prestwick-gardens-se-wp_id282825546-lst',
 'https://www.remax.ca/luxury/ab/calgary-real-estate/707-35-street-nw-wp_id282831352-lst',
 'https://www.remax.ca/ab/calgary-real-estate/116-franklin-drive-se-wp_id282831367-lst',
 'https://www.remax.ca/ab/calgary-real-estate/15-riverbirch-place-se-wp_id282827195-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1225-2395-eversyde-avenue-sw-wp_id282826775-lst',
 'https://www.remax.ca/ab/calgary-real-estate/7744-46-avenue-nw-wp_id282827183-lst',
 'https://www.remax.ca/ab/calgary-real-estate/137-saddlelake-grove-ne-wp_id282826344-lst',
 'https://www.remax.ca/ab/calgary-real-estate/247-valley-pointe-way-nw-wp_id282831355-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3810-catalina-boulevard-ne-wp_id282826335-lst',
 'https://www.remax.ca/ab/calgary-real-estate/956-nolan-hill-boulevard-nw-wp_id282825808-lst',
 'https://www.remax.ca/ab/calgary-real-estate/6408-tregillus-street-nw-wp_id282835659-lst',
 'https://www.remax.ca/ab/calgary-real-estate/4312-49-st-ne-wp_id282699451-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3916-vancouver-crescent-nw-wp_id282833251-lst',
 'https://www.remax.ca/ab/calgary-real-estate/102-99-arbour-lake-road-nw-wp_id282825809-lst',
 'https://www.remax.ca/ab/calgary-real-estate/63-cranarch-circle-se-wp_id282826543-lst',
 'https://www.remax.ca/ab/calgary-real-estate/32-copperpond-close-se-wp_id282827182-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1408-43-street-sw-wp_id282826546-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1314-7451-springbank-boulevard-sw-wp_id282825813-lst',
 'https://www.remax.ca/ab/calgary-real-estate/54-6103-madigan-drive-ne-wp_id282827181-lst',
 'https://www.remax.ca/ab/calgary-real-estate/303-4-14-street-nw-wp_id282825548-lst',
 'https://www.remax.ca/ab/calgary-real-estate/97-prestwick-gardens-se-wp_id282825546-lst',
 'https://www.remax.ca/luxury/ab/calgary-real-estate/707-35-street-nw-wp_id282831352-lst',
 'https://www.remax.ca/ab/calgary-real-estate/116-franklin-drive-se-wp_id282831367-lst',
 'https://www.remax.ca/ab/calgary-real-estate/15-riverbirch-place-se-wp_id282827195-lst',
 'https://www.remax.ca/ab/calgary-real-estate/1225-2395-eversyde-avenue-sw-wp_id282826775-lst',
 'https://www.remax.ca/ab/calgary-real-estate/7744-46-avenue-nw-wp_id282827183-lst',
 'https://www.remax.ca/ab/calgary-real-estate/137-saddlelake-grove-ne-wp_id282826344-lst',
 'https://www.remax.ca/ab/calgary-real-estate/247-valley-pointe-way-nw-wp_id282831355-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3810-catalina-boulevard-ne-wp_id282826335-lst',
 'https://www.remax.ca/ab/calgary-real-estate/956-nolan-hill-boulevard-nw-wp_id282825808-lst',
 'https://www.remax.ca/ab/calgary-real-estate/6408-tregillus-street-nw-wp_id282835659-lst']

In [16]:
url_house[:5]

['https://www.remax.ca/ab/calgary-real-estate/4312-49-st-ne-wp_id282699451-lst',
 'https://www.remax.ca/ab/calgary-real-estate/3916-vancouver-crescent-nw-wp_id282833251-lst',
 'https://www.remax.ca/ab/calgary-real-estate/102-99-arbour-lake-road-nw-wp_id282825809-lst',
 'https://www.remax.ca/ab/calgary-real-estate/63-cranarch-circle-se-wp_id282826543-lst',
 'https://www.remax.ca/ab/calgary-real-estate/32-copperpond-close-se-wp_id282827182-lst']

In [26]:
PostalCode = []
Latitude = []
Longitude = []
YearBuilt = []

for i in url_house[:5]:
    
    time.sleep(5)
    
    page = requests.get(i)
    soup = BeautifulSoup(page.text, "html.parser")
    
    lat_all = soup.find_all('script')[4]
    
    string = ', '.join(lat_all)
    pc = "postalCode"
    position_pc = string.find(pc)
    pcd = string[(position_pc+14):(position_pc+21)]
    PostalCode.append(pcd)

    lat = "latitude"
    position_lat = string.find(lat)
    latd = string[(position_lat+11):(position_lat+20)]
    Latitude.append(latd)

    long = "longitude"
    position_long = string.find(long)
    longd = string[(position_long+12):(position_long+23)]
    Longitude.append(longd)
    
    house_address = []
    
    time.sleep(5)
    
    try:
        addresses = soup.find_all('section', class_='property-details')
        for address in addresses:
            house_address.append(address.text)
    except:
        house_address.append('None')
    
    time.sleep(5)
    
    string = ', '.join(house_address)
    s_year = "Year Built"
    position_year = string.find(s_year)
    year_built = string[(position_year+12):(position_year+16)]
    YearBuilt.append(year_built)